.prueba2{
    width: 140px;
    border: chocolate;
    font-family: sans-serif;
    
}

.nosotros{
    width: 100px;
    text-align: center;
    font-family: fantasy;
    margin: 50px;
    
}

.target{
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    min-height: 100vh;
}
.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.item{
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: darksalmon;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;

}

#next, #prev{
    position: absolute;
    top: 40%;
    color: #0c0c0c;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    
}
#next{
    left: unset;
    right: 50px;
}