
.prueba2{
    width: 140px;
    border: #a5e65a;
    font-family: sans-serif;
    
}

.nosotros{
    width: 100px;
    text-align:center;
    font-family: fantasy;
    justify-content: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.target{
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    background-color:  #1B2727;
    min-height: 100vh;
}
.slider{
    position: relative;
    width: 100%;
    height: 370px;
    background-color:  #191f20;
    overflow: hidden;
}

.item{
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: #a4a4a4;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;

}

#next, #prev{
    position: absolute;
    top: 40%;
    color: #a5e65a;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
  
}
#next{
    left: unset;
    right: 50px;
}
.titles {
    margin: 10px;
    text-align: center;
    font-family: fantasy;
    color: #fff4f4;
    background-color:  #191f20;
}

.item img{
    width: 160px;
    background-color:  #191f20;
}
.item h3{
    font-family: fantasy;
    margin: 30px;
    text-align: center;
}

_*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.cont{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.car_cont{
    display: grid;
    row-gap: 3.5rem;
}
.car_article{
    position: relative;
    overflow: hidden;
    
}
.car_img{
    width: 328px;
    border-radius: 1.5rem;
}
.car_data{
    width: 280px;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px black;
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
   opacity: 0;
    transition: opacity 1s 1s;
}
.car_description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;

}
.car_title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
} 
.car_article:hover .car_data{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}
.car_article:hover{
    animation: remove-overflow 2s forwards;
}

.car_article:not(:hover){
    animation: show-overflow 2s forwards;
}
.car_article:not(:hover) .car_data{
    animation: remove-data 1s forwards;
}
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}
@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow{
    0%{
        overflow:initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media screen and (max-width: 340px){
    .cont{
        margin-inline: 1rem;
    }

    .car_data{
        width:250px;
        padding: 1rem;
    }
}

@media screen and (min-width :768px){
    .car_cont{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px) {
    .cont{
        height: 100vh;

    }
    .car_cont{
        grid-template-columns: repeat(3, 1fr);
    }
    .car_img{
        width: 348px;
    }
    .car_data{
        width: 316px;
        padding-inline: 2.5rem;
    }
}